.showMask-enter
  opacity 0
.showMask-enter-active
  transition  opacity 0.3s linear
.showMask-enter-to
  opacity 1
.showMask-leave
  opacity 1
.showMask-leave-active
  transition opacity 0.3s linear
.showMask-leave-to
  opacity 0
